<h1>weather app</h1>


<span>It's </span><span id="timeOfDay"></span>
<div id="weather">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="changeTimeOfDay(this, 'yellow')">Morning</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeTimeOfDay(this, 'orange')">Afternoon</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeTimeOfDay(this, 'black')">Evening</div>
  </div>
  
</div>
