body {
	padding: 30px;
  font-size: 18px;
  color: SteelBlue;
  font-family: 'Lato', Helvetica, sans-serif;
}
}

.wrapper {
	padding: 30px;
	margin 0 auto;
	max-width: 1200px;
	border 8px solid Steelblue;
}


header {
	text-align: center;
	margin-bottom: 40px;
}

header img {
   width: 100%;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px rgba(0,0,0,0.15);
}

h1 {
	font-size: 32px;
  font-weight: 700;
}

main {
	display: block;
	border-style: solid;
	border-width: 10px;
	padding: 100px;
}


 h2{
	color: white;
  padding: 20px;
  margin-bottom: 40px;
  background: SteelBlue;
  box-shadow: 0 4px rgba(0,0,0,0.15);
}

main p {
	text-align: center;
}

.contact {
	color: white;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background: Steelblue;
  border: 8px solid SteelBlue;
  box-shadow: 0 4px rgba(0,0,0,0.15);
}
}

section {
	border-style: solid;
}

section h2 {
	background: SteelBlue;
	color: white;
}










.contact {
	background: Steelblue;
	color: white;
	height: 150px;
	max-width: 1200px;
	margin 0 auto;

}

.contact h3 {
	margin-top: 0;
}
footer p {
	text-align: center;
}
